body{
  background-image: url(https://cdn.galleries.smcloud.net/t/galleries/gf-QF46-mMw2-4r1j_sennik-pieniadze-co-oznacza-sen-liczyc-pieniadze-znalezc-pieniadze-wygrac-pieniadze-co-oznaczaja-te-sny-1920x1080-nocrop.jpg);
}

h1 {
  color: rgb(49, 20, 211);
  text-shadow: 10px 10px 10px black;
  font-family: fantasy;
  letter-spacing: 2vw;
  font-size:8vw;
}

h2 {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  text-shadow: 5px -5px 5px white;
  font-size:5vh;
}

label {
  font-weight: bold;
}

button {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 2px;
  padding: 5px 5px;
  border: 2px solid;
}