body {
    background-image: url(https://cdn.galleries.smcloud.net/t/galleries/gf-QF46-mMw2-4r1j_sennik-pieniadze-co-oznacza-sen-liczyc-pieniadze-znalezc-pieniadze-wygrac-pieniadze-co-oznaczaja-te-sny-1920x1080-nocrop.jpg);
}

h1 {
    color: rgb(34, 17, 188);
    text-shadow: 5px 5px 2px rgb(7, 3, 26);
    font-family: fantasy;
    letter-spacing: 0.2em;
    font-size:10vh
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border: 2px solid;
    font-size: 4vh;
}