body{
    background-image: url(https://cdn.galleries.smcloud.net/t/galleries/gf-QF46-mMw2-4r1j_sennik-pieniadze-co-oznacza-sen-liczyc-pieniadze-znalezc-pieniadze-wygrac-pieniadze-co-oznaczaja-te-sny-1920x1080-nocrop.jpg);
}

h1 {
    color: rgb(49, 20, 211);
    font-size: 10vh;
    text-shadow: 10px 10px 10px black;
    font-family: fantasy;
    letter-spacing: 2vw;
}

#table1, #table2, #table3{
    border: 2px solid black;
    background-image: url(https://www.decormint.com/storage/thumbs/fotolia/141427277/thumbnw_b38a3aba7098d76b19500080cdfa9b05.jpg);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

td {
    border: 1px solid black;
}

th {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    border: 2px solid black;
}

.subtraction td {
    color: red;
    font-family: fantasy;
    letter-spacing: 5px;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 2px;
    border: 2px solid;
}
